    {% extends 'AppProyecto/index.html' %}

    {% block titulo %}
    <h1 style="color: blue"> CLIENTES </h1>
    {% endblock %}

    {% if clientes_formulario.errors %}

    <p style="color: red"> HA OCURRIDO UN ERROR</p>
    
    {% endif %}

    {% block contenido_main %}
    
    <form action="{% url 'clientes' %}", method="POST"> {% csrf_token %} 
        <table>
            {{clientes_formulario.as_table}}
        </table>
        <input type="submit" value="ENVIAR">
    </form>

    {% endblock %}