    {% extends 'AppProyecto/index.html' %}

    {% block titulo %}
    <h1 style="color: blue"> EMPLEADOS </h1>
    {% endblock %}

    {% if empleados_formulario.errors %}
    <p style="color: red"> HA OCURRIDO UN ERROR</p>
    {% endif %}

    {% block contenido_main %}
    
    <form action="{% url 'empleados' %}", method="POST"> {% csrf_token %} 
        <table>
            {{empleados_formulario.as_table}}
        </table>
        <input type="submit" value="ENVIAR">
    </form>

    {% endblock %}