    {% extends 'AppProyecto/index.html' %}

    {% block acerca_de_mi %}
    <a class="btn btn-primary" href="{% url 'list_empleados' %}">Mostrar Empleados</a>
    {% endblock %}

    {% block titulo %}
    <h1 style="color: blue"> EMPLEADOS </h1>
    {% endblock %}

    {% block main %}
    <div class="container-fluid justify-content-center"><form method="post"> {% csrf_token %} 
           Estás seguro de que quieres eliminar a "{{ object }}"?
        <input type="submit" value="SI">
    </form></div>
    
    {% endblock %}